body {
  background-image: url('img/camp.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}



.da{
  filter: brightness(50%);
}

.cont{
  position: relative;
text-align: center;
color: white;
}
.center{
  position: absolute;
  top: 150px;
  left: 100px;
    font-size: 100px;
}
.small{
  position: absolute;
  top: 250px;
  left: 550px;
}

.ga{
  height: 300px;
  width: 550px;
  box-shadow: 10px 10px 5px grey;
  filter: brightness(70%);
}


#container {
  width:90%;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

#container{
  padding-top: 100px;
  padding-left: 50px;
}

.item {
    position:relative;
  padding-top: 50px;
  margin:1%;
  border-radius:2px;
  flex:1 250px;
  height:auto;
  text-align:center;
  /*background:linear-gradient(0deg, #efefef, #ffffff);*/
}

.overlay {
  position:absolute;
  top:50px;
  left:178px;
  right:178px;
  bottom:0;
  opacity: 0;

  transition: 1s ease-in-out;
}
.overlay:hover {
  /*opacity: 0.6;*/
  /*background-color:#000;*/
  opacity: 1;
  color: #FFFFFF;
}

button {
  position: relative;
  text-align: center;

  /*transition: opacity .35s ease;*/
}


.container .btn {
  position: absolute;
  top: 300px;
  left: 600px;
  background-color: #000000;
  color: #000000;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: #000000 !important;
  color: #000000 !important;

}

footer{
  margin-top: 100px;
  padding-top: 0px;
  background-image: url("img/black.jpeg");
  opacity: 70%;
  color: #fff;
}

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer p {
  font-family: "Roboto", sans-serif !important;
}

.footer .footer_top {
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer .footer_top .footer_widget {
  margin-bottom: 40px;
}

.footer .footer_top .footer_widget .footer_title {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
}

.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 40px;
}

.footer .footer_top .footer_widget p {
  color: #888888;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.footer .footer_top .footer_widget p a {
  color: #888888;
}

.footer .footer_top .footer_widget p a:hover {
  color: #FFFFFF;
}

.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #ff2424;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 28px;
}

.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #ff2424;
  font-weight: 400;
}

.footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #ff2424;
}

.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}

.footer .footer_top .footer_widget ul li {
  color: #888888;
  font-size: 14px;
  line-height: 27px;
}

.footer .footer_top .footer_widget ul li a {
  color: #888888;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.footer .footer_top .footer_widget ul li a:hover {
  color: #FFFFFF;
}

.footer .footer_top .footer_widget .newsletter_form {
  position: relative;
  margin-bottom: 20px;
}

.footer .footer_top .footer_widget .newsletter_form input {
  width: 100%;
  height: 40px;
  background: #fff;
  padding-left: 20px;
  font-size: 13px;
  color: #000;
  border: none;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.footer .footer_top .footer_widget .newsletter_form input::placeholder {
  font-size: 13px;
  color: #AAB1B7;
  font-family: "Roboto", sans-serif;
}

.footer .footer_top .footer_widget .newsletter_form input:focus {
  outline: none;
}

.footer .footer_top .footer_widget .newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #fff;
  background: #ff2424;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
  border-radius: 5px;
  top: 0px;
  right: 0px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.footer .footer_top .footer_widget .newsletter_text {
  font-size: 14px;
  color: #888888;
  line-height: 26px;
  margin-bottom: 46px;
}


.footer .copy-right_text .footer_border {
  border-top: 1px solid #373c47;
  margin-top: 20px;
  margin-bottom: -75px;
}

.footer .copy-right_text .copy_right {
  font-size: 14px;
  color: #777777;
  margin-bottom: 0;
  font-weight: 400;
}

.footer .copy-right_text .copy_right a {
  color: #ff2424;
}

.footer .socail_links {
  text-align: right;
}

.footer .socail_links ul li {
  display: inline-block;
  transition: 0.3s;
  margin-left: 33px;
}

.footer .socail_links ul li a {
  font-size: 14px;
  display: inline-block;
  color: #8d9096 !important;
  background: transparent;
  transition: 0.3s;
}

.footer .socail_links ul li:hover a {
  color: #ff2424 !important;
}
