{% extends 'base.html' %}
{% block head %}
    {% load static %}
      <link rel="stylesheet" href="{% static 'prac.css' %}" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock head %}

{% block body %}

  <div class="container">
    <div class="jumbotron">
      <h2>Our Policies for <font color="#F05E23">child Adoption</font></h2>
      <p>
          <ul>
            <li>A Non-Resident Indian or an Overseas Citizen of India, interested to adopt a relative’s child, may approach an Authorised Foreign Adoption Agency or the Central Authority in the country of residence for preparation of their Home Study Report and for online registration in Child Adoption Resource Information and Guidance System.</li>
            <li>Any person, who takes or sends a child to a foreign country or takes part in any arrangement for transferring the care and custody of a child to another person in a foreign country without a valid order from the competent Court, shall be punishable as per the provisions of section 80 of the Act.</li>
            <li>The Authorised Foreign Adoption Agency or Central Authority or the department concerned or the Indian diplomatic mission (in cases of Indian citizens), as the case may be, on completion of the Home Study Report, shall register the application of the prospective adoptive parents in Child Adoption Resource Information and Guidance System along with the required documents as mentioned in Schedule VI.</li>
            <li>The prospective adoptive parents, who intend to adopt the child of a relative as defined in sub-section (52) of section 2 of the Act, shall file an application in the competent court under sub-section 2 of section 56 or sub section (1) of section 60 of the Act in case of in-country relative adoption or inter-country relative adoption, respectively, alongwith a consent letter of the biological parents as provided in Schedule XIX and all other documents as provided in Schedule VI.</li>
            <li>District Child Protection Unit shall forward a copy of the family background report of the child and the biological family to the Authority for onward submission to Authorised Foreign Adoption Agency or Central Authority or Indian Mission abroad.
            </li>
            <li>On receiving family background report of the relative’s child, the Authority shall forward the same to the receiving country as required under Articles 15 and 16 of the Hague Adoption Convention along with a pre-approval letter supporting the proposed adoption.</li>
            <li>The District Child Protection Unit shall get the family background report conducted by its social worker and for this purpose, it can charge a fee as stipulated in the norms prescribed by the Authority from time to time.</li>
            <li>On receipt of all requisite documents on Child Adoption Resource Information and Guidance System, the Authority shall forward the same to District Child Protection Unit for obtaining family background report of the child proposed for adoption, as provided in Schedule XXI.</li>
            <li>The biological parent and the step-parent, who intend to adopt the child or children of the biological parent, shall file the adoption application as provided in Schedule XXXII, in the court concerned of the district where they reside, along with consent letter of the biological parents and the step-parent adopting the child or children, as provided in the Schedule XX and all other documents as provided in Schedule VI.</li>
            <li>The prospective adoptive parents shall file an application in Family Court or District Court or City Civil Court, as the case may be.</li>
            <li>Before issuing an adoption order, the court shall satisfy itself of the various conditions stipulated under section 61 of the Act, and regulations 51 to 56, as the case may be.</li>
            <li>The prospective adoptive parents shall obtain a certified copy of the adoption order from the court and furnish a copy of the same to the District Child Protection Unit for online submission to the Authority.</li>
            <li>The Authorised Foreign Adoption Agency or Central Authority, on receiving requisite documents as stipulated in sub regulation (3), shall arrange to forward a certificate under Article 5 or Article 17 of the Hague Adoption Convention to the Authority.</li>
            <li>In case of countries which are not signatories to Hague Adoption Convention, in respect of Indian citizens, family background report of the relative’s child and prior approval letter from the Authority shall be forwarded to the Indian Mission of that country which will issue a recommendation letter to the Authority.</li>
          </ul>
      </p>
    </div>

  </div>

{% endblock body %}
