{% load static %}
<html>
<head>
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% block head %}
{% endblock %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">

    <!-- Inside of a Container -->
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- This is the actual code that create the "hamburger icon" -->
    <!-- The data-target grabs ids to put into the icon -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

        <!--  Code for the hamburger icon-->
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{% url 'home' %}">NGO<font color="#F05E23">rphan</font></a>
    </div>

    <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'camp' %}">Campaigns <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'volun' %}">Volunteer</a></li>
        <li><a href="{% url 'donate' %}">Donate</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Adopt <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'action' %}">Action</a></li>
            <li><a href="http://cara.nic.in/Parents/eg_ri.html" target="_blank">Laws and Regulations</a></li>
            <li><a href="{% url 'laws' %}">Our Policy</a></li>

            <!-- Use this to separate a new link -->

            <li role="separator" class="divider"></li>
            <li><a href="{% url 'adform' %}">Adoption Form</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li><a href="#">{{ user.first_name }}</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
      <!-- Stuff on the Right -->


          <li><a href="{% url 'register' %}">Signup</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>

      </ul>
        {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{%block body%}
{% endblock %}

<script
src="http://code.jquery.com/jquery-3.1.1.js"
integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
crossorigin="anonymous"></script>  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
